* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
}
.container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-title {
  display: none;
}
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2.3px;
  position: relative;
  text-transform: uppercase;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
}
.block-title {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
}
.text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  font-weight: 400px;
}
.btn {
  display: inline-block;
  padding: 11px 0;
  font-weight: bold;
  font-size: 13px;
  min-width: 150px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background: #00A4E5;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transition: all 0.3s;
  background: #0092cc;
}
/* variables */
@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 0px #000, 5px 5px 5px #48555B;
  }
}
.intro {
  color: #FFFFFF;
}
.intro__screen {
  padding-top: 42px;
  padding-bottom: 71px;
  background: url(../img/building-bg.jpg) #171819;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro__wrap {
  padding: 0 10px;
}
.intro__title {
  display: none;
}
.intro__title-img {
  margin: 0 auto;
  max-width: 574px;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 10px;
}
.intro__subtitle {
  padding: 0 5%;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  font-style: normal;
}
.intro__btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 3.7px;
  color: #dddddd;
  text-transform: uppercase;
  animation: pulsate 2s linear infinite;
}
.topbar {
  padding: 21px 0 21px;
  border-bottom: 1px solid #E6E6E6;
}
.topbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar__logo-link {
  font-size: 0;
}
.topbar__nav-burger {
  display: none;
  padding: 2px 16px;
  background-color: #00A4E5;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
.topbar__list {
  width: 410px;
  display: flex;
  justify-content: space-between;
}
.topbar__link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.09091px;
  color: #48555B;
  text-transform: uppercase;
}
.topbar__link:hover {
  transition: all 0.2s;
  color: #00A4E5;
}
.story {
  padding: 42px 0 48px;
  margin-bottom: 40px;
}
.story__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2.3px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 65px;
}
.story__title::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
}
.story__wrapper {
  display: flex;
  justify-content: space-between;
}
.story__content {
  max-width: 405px;
}
.story__theme {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: #48555B;
  margin-bottom: 32px;
}
.story__theme span {
  color: #00A4E5;
}
.story__text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  font-weight: 400px;
}
.story__gallery {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 0 -10px;
  padding-bottom: 12px;
}
.story__gallery-item {
  margin: 0 10px;
  width: 140px;
  height: 224px;
  padding: 15px 14px;
}
.story__gallery-item--plan {
  background: url(../img/story-plan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.story__gallery-item--manage {
  background: url(../img/story-manage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.story__gallery-item--build {
  background: url(../img/story-build.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.story__gallery-text {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.capabilities {
  padding-top: 18px;
}
.capabilities__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}
.capabilities__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2.3px;
  position: relative;
  text-transform: uppercase;
  margin-right: 120px;
  margin-top: 0;
}
.capabilities__title::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
}
.capabilities__title::after {
  bottom: -10px;
  left: 0;
  transform: translateX(0);
}
.capabilities__slogan {
  max-width: 405px;
  font-weight: 400;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555B;
}
.capabilities__btn {
  display: inline-block;
  padding: 11px 0;
  font-weight: bold;
  font-size: 13px;
  min-width: 150px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background: #00A4E5;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.capabilities__btn:hover {
  transition: all 0.3s;
  background: #0092cc;
}
.capabilities__slider {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}
.capabilities__card {
  border: 1px solid #E6E6E6;
  max-width: 295px;
  padding: 35px 23px 24px;
  margin: 0 10px;
}
.capabilities__card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.35px;
  color: #48555B;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.capabilities__card-text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  font-weight: 400px;
}
.offer {
  padding: 236px 0 230px;
  text-align: center;
  background: url(../img/city-bg.jpg);
  background-size: cover;
  background-position: bottom;
}
.offer__title {
  margin: 0 auto;
  max-width: 350px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: center;
  color: #48555B;
  margin-bottom: 34px;
}
.newsletter {
  background: #171819;
}
.newsletter__wrapper {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.newsletter__appeal {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  margin-right: 68px;
}
.newsletter__form {
  font-size: 0;
  display: flex;
  align-items: center;
}
.newsletter__input {
  padding: 0 16px;
  width: 250px;
  border: 1px solid #979797;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.newsletter__btn {
  display: inline-block;
  padding: 11px 0;
  font-weight: bold;
  font-size: 13px;
  min-width: 150px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background: #00A4E5;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.newsletter__btn:hover {
  transition: all 0.3s;
  background: #0092cc;
}
.footer {
  background: #141A20;
  color: #fff;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0 40px;
}
.company {
  flex: 0 0 34%;
}
.company__title {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.company__text {
  max-width: 250px;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
}
.links {
  flex: 0 0 34%;
}
.links__title {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
}
.links__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 262px;
}
.links__link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
}
.links__link:hover {
  transition: all 0.2s;
  color: #00A4E5;
}
.contact {
  flex: 0 0 32%;
}
.contact__title {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.contact__wrapper {
  display: flex;
  max-width: 120px;
}
.contact__data {
  max-width: 140px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.846154px;
}
.contact__adress {
  margin-bottom: 18px;
}
.contact__telephone {
  display: inline-block;
  margin-bottom: 16px;
}
.contact__telephone:hover {
  transition: all 0.2s;
  color: #00A4E5;
}
.contact__website:hover {
  transition: all 0.2s;
  color: #00A4E5;
}
.contact__social {
  display: flex;
  justify-content: space-between;
  font-size: 0;
  margin-left: 68px;
  min-width: 90px;
}
.contact__social-icon {
  width: 26px;
  height: 26px;
  display: inline-block;
}
.contact__social-icon img {
  width: 20px;
}
.copy {
  background-color: #171819;
  padding: 21px 0 22px;
}
.copy__signature {
  font-size: 11px;
  letter-spacing: 0.846154px;
  text-align: center;
}
.copy__signature-link:hover span {
  transition: 0.2s all;
  color: #00A4E5;
}
@media (max-width: 992px) {
  .story__wrapper {
    display: block;
  }
  .story__content {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .story__gallery {
    margin: 0 auto;
    max-width: 600px;
  }
  .capabilities__wrapper {
    align-items: flex-start;
  }
  .capabilities__title {
    margin-right: 40px;
  }
  .capabilities__slogan {
    margin-right: 20px;
  }
  .company {
    flex: 0 0 50%;
    padding-right: 50px;
  }
  .links {
    flex: 0 0 50%;
  }
  .contact {
    margin-top: 40px;
    flex: 0 0 100%;
    justify-content: center;
  }
  .contact__data {
    max-width: 50%;
    flex: 0 0 50%;
    padding-right: 50px;
  }
  .contact__social {
    flex: 0 0 50%;
    max-width: 90px;
    margin-left: 0;
  }
  .contact__wrapper {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .capabilities__wrapper {
    flex-wrap: wrap;
  }
  .capabilities__title {
    width: 100%;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .capabilities__title::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .capabilities__slogan {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .capabilities__btn {
    margin: 0 auto;
  }
  .capabilities__slider {
    display: block;
    text-align: center;
    margin: 0;
  }
  .capabilities__card {
    margin: 0 auto 30px;
    max-width: 540px;
  }
  .offer {
    padding-top: 140px;
  }
  .newsletter__wrapper {
    display: block;
    text-align: center;
  }
  .newsletter__appeal {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .newsletter__form {
    font-size: 0;
    display: block;
    margin: 0 auto;
  }
  .newsletter__input {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .section-title {
    font-size: 17px;
  }
  .topbar__nav {
    display: none;
    /**/
  }
  .topbar__nav-burger {
    display: block;
  }
  .story {
    margin-bottom: 0;
  }
  .story__gallery {
    max-width: 320px;
  }
  .story__gallery-item {
    display: inline-block;
    width: 90px;
    height: 160px;
    margin: 0 4px;
    padding: 8px;
  }
  .story__gallery-item:first-child {
    margin-left: 0;
  }
  .story__gallery-item:last-child {
    margin-right: 0;
  }
  .story__gallery-text {
    font-size: 15px;
  }
  .company {
    max-width: 380px;
    margin: 0 auto;
    flex: 0 0 100%;
  }
  .company__text {
    max-width: 100%;
  }
  .links {
    max-width: 380px;
    margin: 0 auto;
    margin-top: 40px;
    flex: 0 0 100%;
  }
  .links__wrapper {
    max-width: 90%;
  }
  .offer__title {
    font-size: 24px;
    padding: 0 10px;
  }
  .contact {
    max-width: 380px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .contact__wrapper {
    display: block;
  }
  .contact__data {
    margin-bottom: 25px;
    max-width: 90%;
  }
  .copy__signature-link {
    display: block;
    margin-top: 5px;
  }
}
